{% extends "base_nav.njk" %}

{% block scripts %}
  <script src="/filter.js"></script>
{% endblock %}

{% block content %}
  <table width=100% border=1 cellpadding=100>
  <tr>
    <td width=70% height=50px align=center>
      <h3>Név</h3>
    </td>
    <td width=30% align=center>
      <h3>Szint</h3>
    </td>
  </tr>
  <tr>
    <td>
    </td>
    <td align=center id="inputCell">
    </td>
  </tr>
  {% for person in people %}
    <tr class="item">
      <td align=center height=50px>
        {{ person.name }}
      </td>
      <td align=center>
        <form class="form-vertical" method="POST">
          {{ csrfField }}
            <input type="hidden" class="form-control" id="inputId" name="id" value="{{ person.id }}"/>
            <button type="submit" class="btn btn-danger">Felvétel</button>
        </form>
      </td>
    </tr>
  {% endfor %}
  <table>
{% endblock %}